<div class="login-body" id="loginBody">
  <form class="login-form" (ngSubmit)="doLogin()" #loginForm="ngForm" autocomplete="off" novalidate>
    <p class="login-title">
      <i class="fa fa-lock"></i>
      <span class="title">登录</span>
    </p>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <input id="inputUsername" name="username" type="text"
             class="form-control" placeholder="请输入用户名" autofocus
             [(ngModel)]="authReq.username">
    </div>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-key"></i></span>
      <input id="inputPassword" name="password" type="password"
             class="form-control" placeholder="请输入密码"
             [(ngModel)]="authReq.password">
    </div>
    <div>
      <span class="text-danger pull-left">{{ errorMsg }}</span>
      <button class="btn btn-primary pull-right" type="submit">
        登录
      </button>
      <div class="clearfix"></div>
    </div>
  </form>
</div>
